.createCar div {
    /* width: 100%; */
    /* text-align: center; */
    padding-left: 40px;
    position: relative;
}
.createCar p {
    color: red;
}

.createCar label {
    font-size: 20px;
}

.createCar form div {
    text-align: left;
    padding-left: 40px;
}

.createCar input {
    display: block;
    margin: 15px 15px;
    padding: 8px 0;
    width: 50%;
    color: gray;
    background-color: honeydew;
    font-size: 18px;
}

.createCar [type="submit"] {
    color: black;
    background-color:  rgba(0, 128, 0, 0.418);
}
